<div class="container mt-5 min-vh-100">
  <div class="d-flex justify-content-end m-1">
    <button
      class="btn btn-primary px-4 py-2 rounded m-3 add-book"
      [routerLink]="'/quote/form'"
    >
      Add Quote
    </button>
  </div>
  <table class="table table-bordered table-primary">
    <thead>
      <tr>
        <th class="text-center">ID</th>
        <th class="text-center">Author</th>
        <th class="text-center">Content</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      @for (item of (quotes$ | async); track item) {
      <tr>
        <td class="text-center">{{ item.id }}</td>
        <td class="text-center">{{ item.author }}</td>
        <td class="text-center">"{{ item.content }}"</td>
        <td class="flex justify-center gap-3">
          <button class="btn btn-danger btn-sm">
            <i
              class="fa fa-trash"
              aria-hidden="true"
              (click)="delete(item.id)"
            ></i>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
