<div class="container mt-5 min-vh-100">
  <div class="d-flex justify-content-end m-1">
    <button
      class="btn btn-primary px-4 py-2 rounded m-3 add-book"
      [routerLink]="'/book/form'"
    >
      Lägg till ny bok
    </button>
  </div>
  <table class="table table-bordered table-info">
    <thead>
      <tr>
        <th class="text-center">ID</th>
        <th class="text-center">Titel</th>
        <th class="text-center">Författare</th>
        <th class="text-center">Publiceringsår</th>
        <th class="text-center">Handling</th>
      </tr>
    </thead>
    <tbody>
      @for (item of (books$ | async); track item) {
      <tr>
        <td class="text-center">{{ item.id }}</td>
        <td class="text-center">{{ item.title }}</td>
        <td class="text-center">{{ item.author }}</td>
        <td class="text-center">{{ item.publishYear }}</td>
        <td class="flex justify-center gap-3">
          <button class="btn btn-primary btn-sm">
            <i class="fas fa-edit" [routerLink]="['/books/', item.id]"></i>
          </button>

          <button class="btn btn-danger btn-sm">
            <i
              class="fa fa-trash"
              aria-hidden="true"
              (click)="delete(item.id)"
            ></i>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
