.mat-elevation-z8{
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 16px;
}

.mat-column-id {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 3% !important;
     width: 8% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
     word-break: break-word;
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
.mat-column-name {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 8% !important;
     width: 12% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
     word-break: break-word;
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
.mat-column-age {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 4% !important;
     width: 10% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
     word-break: break-word;
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
.mat-column-email {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 10% !important;
     width: 15% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
     word-break: break-word;
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
.mat-column-phone {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 7% !important;
     width: 12% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
     word-break: break-word;
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }

   .mat-column-salary {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 7% !important;
    width: 12% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  .mat-column-action {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 3% !important;
    width: 5% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  