.wrapper {
    background-color: var(--bg-color);
}

.toggle-btn {
    width: 100px;
    height: 30px;
    border-radius: 2em;
    background-color: red;
    color: white;
    margin-left: 20px;
    margin-top: 10px;
}
.toggle-btn:hover {
    background-color:  rgb(32, 5, 235);;
    cursor: pointer;
}