<div class="flex justify-center mt-20 mx-auto h-50">
  <mat-card class="w-25 p-6">
    <h1 class="h1 mb-4 text-center">
      Login <em class="text-primary ml-1 fs-8">Happy Chat</em>
    </h1>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div>
        <mat-form-field class="w-full">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email"  placeholder="Email" required />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="w-full">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password"  placeholder="********" required />
        </mat-form-field>
      </div>
      <div class="w-full flex justify-center btn">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="btn m-2 w-full"
          [disabled]="!loginForm.valid"
        >
          Login
        </button>
      </div>
      <div class="w-full flex justify-center btn">
        <h4 class="h4 text-muted">Don't have an account?</h4>
        <button
          mat-raised-button
          color="warn"
          type="button"
          class="btn m-2 w-full"
          [routerLink]="'/signup'"
        >
          Signup
        </button>
      </div>
    </form>
  </mat-card>
</div>
