<div class="flex justify-content-center mt-20 mx-auto">
  <div class="shadow w-25 p-6 h-50">
    <h1 class="h1 mb-4 text-center">
      Logga in <em class="text-primary ml-1 fs-8">Happy Chat</em>
    </h1>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="w-full flex flex-wrap">
        <mat-form-field class="w-full">
          <mat-label>E-post</mat-label>
          <input
            type="text"
            matInput
            placeholder="E-post"
            formControlName="email"
            required
          />
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
            E-post är obligatoriskt.
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
            Ogiltig e-postadress.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="w-full flex flex-wrap">
        <mat-form-field class="w-full">
          <mat-label>Lösenord</mat-label>
          <input
            type="text"
            matInput
            placeholder="********"
            formControlName="password"
          />
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            Lösenord är obligatoriskt.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="flex justify-center">
        <button
          mat-raised-button
          color="primary"
          class="btn m-2 w-full"
          [disabled]="!loginForm.valid"
        >
          Logga in
        </button>
      </div>

      <div class="w-full flex justify-center btn">
        <h4 class="h4">Har du inget konto?</h4>
        <button
          mat-raised-button
          color="warn"
          type="button"
          class="btn m-2 w-full"
          [routerLink]="'/signup'"
        >
          Registrera
        </button>
      </div>
    </form>
  </div>
</div>
