<div class="flex justify-center mt-20 mx-auto h-50">
  <div class="shadow w-25 p-6">
    <h1 class="h1 mb-4 text-center">Signup</h1>

    <form [formGroup]="signupForm" (ngSubmit)="save()">
      <div class="w-full flex flex-wrap">
        <mat-form-field class="w-full">
          <mat-label>Username</mat-label>
          <input
            type="text"
            matInput
            placeholder="Username"
            formControlName="username"
            required
          />
        </mat-form-field>
      </div>

      <div class="w-full flex flex-wrap">
        <mat-form-field class="w-full">
          <mat-label>Email</mat-label>
          <input
            type="text"
            matInput
            placeholder="Email"
            formControlName="email"
            required
          />
        </mat-form-field>
      </div>

      <div class="w-full flex flex-wrap">
        <mat-form-field class="w-full">
          <mat-label>Password</mat-label>
          <input
            type="text"
            matInput
            placeholder="Sal"
            formControlName="password"
          />
        </mat-form-field>
      </div>
      <div class="flex justify-center">
        <button
          mat-raised-button
          color="primary"
          class="btn m-2 w-full"
          [disabled]="!signupForm.valid"
        >
          Signup
        </button>
      </div>

      <div class="w-full flex justify-center btn">
        <h4 class="h4">Don't have an account?</h4>
        <button
          mat-raised-button
          color="warn"
          type="button"
          class="btn m-2 w-full"
          [routerLink]="'/login'"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>
