<div class="flex justify-content-center mt-2 mx-auto">
  <div class="shadow col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 px-8 py-6">
    <h4 class="h4 mb-4 fw-bold text-center">
      Register<em class="text-primary ml-1 fs-8">MemoApp</em>
    </h4>

    <form [formGroup]="signupForm" (ngSubmit)="save()">
      <div class="w-full flex flex-wrap">
        <mat-form-field class="w-full">
          <mat-label>Användarnamn</mat-label>
          <input
            type="text"
            matInput
            placeholder="Användarnamn"
            formControlName="username"
            required
          />
          <mat-error *ngIf="signupForm.get('username')?.hasError('required')">
            Användarnamn är obligatoriskt.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="w-full flex flex-wrap">
        <mat-form-field class="w-full">
          <mat-label>E-post</mat-label>
          <input
            type="text"
            matInput
            placeholder="E-post"
            formControlName="email"
            required
          />
          <mat-error *ngIf="signupForm.get('email')?.hasError('required')">
            E-post är obligatoriskt.
          </mat-error>
          <mat-error *ngIf="signupForm.get('email')?.hasError('email')">
            Ogiltig e-postadress.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="w-full flex flex-wrap">
        <mat-form-field class="w-full">
          <mat-label>Lösenord</mat-label>
          <input
            type="text"
            matInput
            placeholder="Lösenord"
            formControlName="password"
          />
          <div class="text-red-400 text-sm" *ngIf="passwordFormField?.dirty">
            <span
              class="block"
              [ngClass]="{
                'text-primary': passwordFormField?.value?.match('^(?=.*[A-Z])')
              }"
              >Minst en versal.</span
            >
            <span
              class="block"
              [ngClass]="{
                'text-primary': passwordFormField?.value?.match('(?=.*[a-z])')
              }"
              >Minst en gemen bokstav.</span
            >
            <span
              class="block"
              [ngClass]="{
                'text-primary': passwordFormField?.value?.match('(.*[0-9].*)')
              }"
              >Minst en siffra.</span
            >
            <span
              class="block"
              [ngClass]="{
                'text-primary':
                  passwordFormField?.value?.match('(?=.*[!@#$%^&*])')
              }"
              >Minst ett specialtecken.</span
            >
            <span
              class="block"
              [ngClass]="{
                'text-primary': passwordFormField?.value?.match('.{6,}')
              }"
            >
              Minst 6 tecken långt.</span
            >
          </div>
        </mat-form-field>
      </div>
      <div class="flex justify-center">
        <button
          mat-raised-button
          color="primary"
          class="btn m-1 w-full"
          [disabled]="!signupForm.valid"
        >
          Registrera
        </button>
      </div>

      <div class="w-full flex justify-center btn">
        <h4 class="h4">Har du redan ett konto?</h4>
        <button
          mat-raised-button
          color="warn"
          type="button"
          class="btn m-1 w-full"
          [routerLink]="'/login'"
        >
          Logga in
        </button>
      </div>
    </form>
  </div>
</div>
